@import url(http://fonts.googlepis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googlepis.com/css?family=Source+Sans+Pro:700,400,300);
body{
  			background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://ichef.bbci.co.uk/news/976/cpsprodpb/9643/production/_109976483_luxury-clothes.jpg);
  			height: 100vh;
  			background-size: cover;
  			background-position: center;
  		}
.head{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left:calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
}

.login input [type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px
	font-weigtht: 400;
	padding: 4px;
}
.login input [type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px
	font-weigtht: 400;
	padding: 4px;
}

.login input [type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px
	font-weigtht: 400;
	padding: 6px;
	margin-top: 10px;
}
.login input [type=button]:hover{
	opacity: 0.8;
}
.login input [type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline:none;
	border: 1px solid rgba(255,255,255,0.9);
}
.login input[type=password]:focus{
	outline:none;
	border: 1px solid rgba(255,255,255,0.9);
}
.login input[type=button]:focus{
	outline:none;
}

::-webkit-input-placeholder{
	color:rgba(255,255,255,0.6);
}
::-moz-input-placeholder{
	color:rgba(255,255,255,0.6);
}

